.homePage {
    min-height: 100vh;
    width: 100%;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    overflow-x: hidden;
}

.content {
    flex: 1;
    text-align: center;
}

#name {
    color: rgb(14, 113, 80);
}

.homePage h4 {
    margin: auto;
    max-width: 400px;
    box-shadow: 0px 0px 14px 0 rgba(202, 205, 195, 0.5);
    background: linear-gradient(to right, rgb(44, 209, 209), #a0f8fc);
    border-bottom-right-radius: 45px;
    border-top-left-radius: 45px;
}

.iam {
    color: black;
    font-size: 18px;
    font-weight: 700;
}

.type-writter {
    font-size: 35px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.homePage button {
    outline: none;
    border: 1px solid teal;
    font-weight: 500;
    background-color: rgb(59, 170, 170);
    padding: 5px 15px;
    color: black;
    border-radius: 10px;
}

.homePage button:hover {
    background-color: rgba(67, 182, 205, 0.791);
    scale: 1.02;
}

.social-media-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 10px 0;
    flex-wrap: wrap;
}

.social-media-icons a svg {
    font-size: 50px;
    padding: 8px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.3s;
}

.social-media-icons a svg:hover {
    opacity: 0.7;
    scale: 1.05;
}

/* Assign colors (GitHub, Instagram, LinkedIn, Mail, Telegram) */
.social-media-icons a:nth-child(1) svg { color: green; }
.social-media-icons a:nth-child(2) svg { color: hotpink; }
.social-media-icons a:nth-child(3) svg { color: cornflowerblue; }
.social-media-icons a:nth-child(4) svg { color: coral; }
.social-media-icons a:nth-child(5) svg { color: deepskyblue; }

.homePage .avtar {
    flex: 1;
    text-align: center;
}

.homePage img {
    width: 380px;
    height: 440px;
    margin-top: -50px;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 6px rgba(242, 246, 8, 0.6));
    transition: all 0.4s;
}

.homePage img:hover {
    scale: 1.04;
}

@media (max-width: 700px) {
    .homePage {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 24px;
    }

    .homePage .avtar {
        margin-top: -25px;
    }

    .homePage h4 {
        width: 320px;
        border-bottom-right-radius: 32px;
        border-top-left-radius: 32px;
        min-height: 115px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .type-writter {
        font-size: 26px;
    }

    .homePage button {
        margin: 0 !important;
    }

    .homePage img {
        width: 300px;
        height: 330px;
        margin-top: 0;
        margin-bottom: 0;
    }
}
